ExplorationQUEST04/data/word2vec_ko.model.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
ExplorationQUEST04/data/word2vec_ko.model.trainables.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
ExplorationQUEST05/data/models/deeplabv3_xception_tf_dim_ordering_tf_kernels.h5 filter=lfs diff=lfs merge=lfs -text
